* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: "Euclid Circular A";
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 38px;
}

a {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.header {
  background: #cbecff;
  padding-top: 22px;
}

.language {
  display: flex;
  justify-content: end;
}

.language__btn {
  color: #29374e;
  font-size: 14px;
  line-height: 140%;
  padding: 2px 4px;
  border-radius: 12px;
}

.language__btn_ru {
  margin-right: 24px;
  color: #0962e8;
  background: #ffffff;
}

.welcome {
  background: #cbecff;
  background-image: url(../assets/img/phone.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 318.5px) 81%;
}

.welcome__wrapper {
  padding-top: 78px;
  padding-bottom: 280px;
}

.welcome__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  color: #29374e;
  padding-bottom: 14px;
}

.welcome__span {
  padding-right: 12px;
  padding-left: 12px;
  color: #0962e8;
  background: #ffffff;
  border-radius: 20px;
}

.welcome__text {
  max-width: 360px;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #29374e;
  padding-bottom: 36px;
}

.button {
  width: 198px;
  padding: 12px 31px;
  border: 1px solid #0962e8;
  background: #0962e8;
  border-radius: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.button:hover {
  background: #074db6;
}

.advertisement {
  margin-top: -93px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.card__wrap:hover,
.language__btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__item {
  padding: 22px 33px 29px 22px;
  display: flex;
}

.card__text {
  font-weight: 400;
  max-width: 149px;
  font-size: 16px;
  line-height: 140%;
  color: #29374e;
}

.product {
  padding-top: 103px;
  padding-bottom: 124px;
}

.product__title {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 44px;
  max-width: 563px;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: #29374e;
}

.product__title-item {
  color: #0962e8;
}

.platforms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.platforms__wrap {
  margin-top: 16px;
  padding: 37px 33px 0px 20px;
  display: flex;
  justify-content: space-between;
  background: #e9f6ff;
  border-radius: 30px;
}

.platforms__item {
  max-width: 231px;
}

.platforms__picture {
  max-width: 218px;
}

.platforms__title {
  max-width: 200px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  text-align: center;
}

.platforms__text {
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}

.platforms__img {
  border-radius: 20px 20px 0px 0px;
}

.broker__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.broker__item {
  max-width: 500px;
}

.broker__title {
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: #0962e8;
  text-align: center;
}

.broker__span {
  color: #29374e;
}

.broker__text {
  max-width: 402px;
  padding-top: 21px;
  padding-bottom: 37px;
  font-size: 14px;
  line-height: 140%;
  color: #1e2837;
  text-align: center;
}

.ticket {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ticket__item {
  padding: 22px 22px 29px 22px;
  margin-bottom: 23px;
  background: #ffffff;
  border-radius: 30px;
}

.ticket__text {
  line-height: 140%;
  color: #29374e;
  padding-top: 3px;
  max-width: 200px;
  font-size: 14px;
  font-weight: 400;
}

.ticket__item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?wpvv83") format("truetype"), url("../fonts/icons.woff?wpvv83") format("woff"), url("../fonts/icons.svg?wpvv83#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
  color: #0962e8;
  font-size: 24px;
  padding: 8px 8px;
  background: #eff9ff;
  border-radius: 50%;
}

.icon-activity:hover:before {
  background: #b3c0dd;
  color: #1f09e8;
}

.icon-filter:before {
  content: "\e903";
  color: #0962e8;
  font-size: 24px;
  padding: 8px 8px;
  background: #eff9ff;
  border-radius: 50%;
}

.icon-filter:hover:before {
  background: #b3c0dd;
  color: #1f09e8;
}

.icon-interface:before {
  content: "\e904";
  color: #0962e8;
  font-size: 24px;
  padding: 8px 8px;
  background: #eff9ff;
  border-radius: 50%;
}

.icon-interface:hover:before {
  background: #b3c0dd;
  color: #1f09e8;
}

.icon-m-1:before {
  content: "\e905";
  color: #0962e8;
  font-size: 40px;
}

.icon-m-2:before {
  content: "\e906";
  color: #0962e8;
  font-size: 40px;
}

.icon-m-3:before {
  content: "\e907";
  color: #0962e8;
  font-size: 40px;
}

.icon-m-4:before {
  content: "\e908";
  color: #0962e8;
  font-size: 40px;
}

.icon-setting:before {
  content: "\e90b";
  color: #0962e8;
  font-size: 24px;
  padding: 8px 8px;
  background: #eff9ff;
  border-radius: 50%;
}

.icon-setting:hover:before {
  background: #b3c0dd;
  color: #1f09e8;
}

@media (max-width: 1068px) {
  .platforms {
    justify-content: center;
  }
  .broker__wrap {
    justify-content: center;
  }
}
@media (max-width: 588px) {
  .container {
    max-width: 570px;
    padding: 0 16px;
  }
  .welcome {
    background-size: 558px auto;
    background-position: 0% -14%;
  }
  .welcome__wrapper {
    padding-top: 402px;
    padding-bottom: 326px;
  }
  .welcome__title {
    font-size: 49px;
    line-height: 124%;
  }
  .welcome__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #29374e;
    padding-bottom: 15px;
  }
  .button {
    width: 343px;
  }
  .card__text {
    max-width: 136px;
    font-size: 14px;
  }
  .card__item {
    flex-direction: column-reverse;
  }
  .card__icon {
    margin-top: -10px;
    padding-bottom: 20px;
  }
  .advertisement {
    margin-top: -295px;
  }
  .card__item {
    padding: 12px 9px 9px 12px;
  }
  .product__title {
    font-size: 24px;
    line-height: 130%;
  }
  .product {
    padding-top: 65px;
    padding-bottom: 47px;
  }
  .product__title {
    padding-bottom: 10px;
  }
  .platforms__title {
    font-size: 16px;
  }
  .platforms__text {
    font-size: 13px;
  }
  .platforms__picture {
    margin-left: 5px;
  }
  .platforms__img {
    max-width: 142px;
  }
  .platforms__wrap {
    margin-top: 17px;
    padding: 25px 20px 0px 16px;
  }
  .broker__wrap {
    justify-content: center;
    flex-direction: column;
  }
  .broker__item {
    margin-left: auto;
    margin-right: auto;
  }
  .broker__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
    font-size: 38px;
    font-size: 24px;
  }
  .broker__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 311px;
    padding-top: 7px;
    padding-bottom: 11px;
  }
  .ticket__item {
    padding: 3px 11px 16px 18px;
    margin-bottom: 23px;
    background: #ffffff;
    border-radius: 30px;
  }
  .ticket__text {
    max-width: 129px;
  }
  .ticket {
    margin-top: 37px;
  }
}
@media (max-width: 400px) {
  .welcome {
    background-size: 558px auto;
    background-position: calc(185% + 318.5px) -14%;
  }
}/*# sourceMappingURL=style.css.map */